AIS2/AVClient/Service References/AVServiceReference/AVService.Models.Entities.Helpers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AVService.Models.Entities.Helpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AVService.Models.Entities.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AVService.Models.Entities.Directories" />
  <xs:complexType name="CurrencyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="BYR" type="xs:double" />
      <xs:element minOccurs="0" name="EUR" type="xs:double" />
      <xs:element minOccurs="0" name="GetBYR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetEUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetRUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetUSD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUR" type="xs:double" />
      <xs:element minOccurs="0" name="USD" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyValue" nillable="true" type="tns:CurrencyValue" />
  <xs:complexType name="ArrayOfDefaultCost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DefaultCost" nillable="true" type="tns:DefaultCost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDefaultCost" nillable="true" type="tns:ArrayOfDefaultCost" />
  <xs:complexType name="DefaultCost">
    <xs:sequence>
      <xs:element minOccurs="0" name="DayOfPayment" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AVService.Models.Entities.Directories" minOccurs="0" name="DirectoryCostItem" nillable="true" type="q1:DirectoryCostItem" />
      <xs:element minOccurs="0" name="DirectoryCostItemId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AVService.Models.Entities.Directories" minOccurs="0" name="DirectoryNote" nillable="true" type="q2:DirectoryNote" />
      <xs:element minOccurs="0" name="DirectoryNoteId" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AVService.Models.Entities.Directories" minOccurs="0" name="DirectoryRC" nillable="true" type="q3:DirectoryRC" />
      <xs:element minOccurs="0" name="DirectoryRCId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SummOfPayment" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefaultCost" nillable="true" type="tns:DefaultCost" />
</xs:schema>