AIS2/AVClient/Service References/AVServiceReference/AVService.Models.DTO.Administration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AVService.Models.DTO.Administration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AVService.Models.DTO.Administration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOUser" nillable="true" type="tns:DTOUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOUser" nillable="true" type="tns:ArrayOfDTOUser" />
  <xs:complexType name="DTOUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOUser" nillable="true" type="tns:DTOUser" />
</xs:schema>